<section id="intro">
  <!--<a href="{{ site.url }}" class="logo"><img src="/images/logo.jpg" alt="" /></a> -->
	<header>
    <h2>{{ site.title }}</h2>
		<p>A small blog by me</p>
		<p>Interests:<br>
        <ul>
            <li><p>golang</li>
            <li><p>3D Printing</li>
        </ul>    
        <p>Currently:</p>
            <ul>
                <li><p>BSc Student <a href="http://www.ifgi.de">@ifgi</a></li>
                <li><p>Student Assistant <a href="http://www.52north.org">@52North</a></li>
                <li><p>Student Assistant <a href="http://www.ifgi.de">@ifgi</a></li>
            </ul>
        </p>
	<ul class="actions">
	  <li><a href="/about" class="button">Learn More</a></li>
    </ul>
	</header>
</section>
